.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid gray;
}

.heading {
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Montserrat;
}

.description {
  width: 100%;
  font-family: Montserrat;
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 0;
  text-align: justify;
}
.marketData {
  align-self: flex-start;
  padding: 25px;
  padding-top: 10px;
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
  }

  .marketData {
    display: flex;
    justify-content: space-around;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 767px) {
  .marketData {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .marketData {
    align-items: flex-start;
  }
}
